
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root{
     --primary-color: #f97316;
     --secondary-color: white;
     --dark-color: black;
}
